services:
  pokeapi:
    build:
      context: ../../../
      dockerfile: ./dockerfiles/spokeapi/Dockerfile
    image: linas/pokeapi
    container_name: ctLinasPokeApi
    ports:
      # 1. REACT: El examen pide conectar al 3000.
      # Mapeamos 1988(VPS) -> 3000(Contenedor)
      - "1988:3000"
      
      # 2. NGINX: El examen pide el puerto 80.
      # Mapeamos 1989(VPS) -> 80(Contenedor)
      - "1989:80"
      
      # 3. SSH
      - "2223:22"
    networks:
      - netlinas
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  netlinas:
    external: true