services:
  pokeapi:
    build:
      context: ../../../
      dockerfile: ./dockerfiles/spokeapi/Dockerfile
    image: linas/pokeapi
    container_name: ctLinasPokeApi
    ports:
      # REQUISITO DEL PROFESOR:
      - "3000:3000"   # Puerto real 3000 -> Contenedor 3000
      - "80:80"       # Puerto real 80   -> Contenedor 80
      
      # SSH (Este déjalo en el 2223 para no perder tu conexión al VPS)
      - "2223:22"
    networks:
      - netlinas
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  netlinas:
    external: true