.cabecera {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/pokemon.png') no-repeat center;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.cabecera h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

@media (max-width: 800px) {
    .cabecera {
        height: 150px;
    }
    .cabecera h1 {
        font-size: 1.8rem;
    }
}